.vscode
/data/
.venv
venv/
project.egg-info/
setup.py
twistd.pid
logs/
pdb/
build/
twistd.pid
dbs/
*.log


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Project specific
prev_scraped.csv